/* line 1, /Users/dennis/Projects/scss-patterns/source/stylesheets/all.scss */
body {
  padding: 0;
  margin: 0;
  font-family: "proxima nova";
  font-size: 14px;
  color: #333; }

/* line 9, /Users/dennis/Projects/scss-patterns/source/stylesheets/all.scss */
h1, h2, h3 {
  font-size: 1.4em;
  font-weight: normal;
  padding: 0;
  margin: 0; }

/* line 16, /Users/dennis/Projects/scss-patterns/source/stylesheets/all.scss */
h2 {
  font-size: 1.1em; }

/* line 21, /Users/dennis/Projects/scss-patterns/source/stylesheets/all.scss */
.scss-sample {
  background: #eef2f4;
  padding: 50px; }

/* line 83, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
.tooltip-pointer-container {
  position: relative;
  position: relative;
  margin: 100px;
  width: 100px;
  height: 100px;
  background: #24a780; }
  /* line 4, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
  .tooltip-pointer-container:before {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border: 3px solid transparent;
    top: initial;
    bottom: initial;
    border-left: 3px solid #24a780;
    right: -6px;
    top: 6px; }
  /* line 93, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
  .tooltip-pointer-container.left {
    position: relative; }
    /* line 4, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
    .tooltip-pointer-container.left:before {
      content: "";
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      border: 3px solid transparent;
      top: initial;
      bottom: initial;
      border-right: 3px solid #24a780;
      left: -6px;
      top: 12px; }
  /* line 94, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
  .tooltip-pointer-container.right {
    position: relative; }
    /* line 4, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
    .tooltip-pointer-container.right:before {
      content: "";
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      border: 3px solid transparent;
      top: initial;
      bottom: initial;
      border-left: 3px solid #24a780;
      right: -6px;
      top: 12px; }
  /* line 95, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
  .tooltip-pointer-container.top {
    position: relative; }
    /* line 4, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
    .tooltip-pointer-container.top:before {
      content: "";
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      border: 3px solid transparent;
      top: initial;
      bottom: initial;
      border-bottom: 3px solid #24a780;
      top: -6px;
      left: 50%;
      margin-left: -3px; }
  /* line 96, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
  .tooltip-pointer-container.bottom {
    position: relative; }
    /* line 4, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
    .tooltip-pointer-container.bottom:before {
      content: "";
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      border: 3px solid transparent;
      top: initial;
      bottom: initial;
      border-top: 3px solid #24a780;
      bottom: -6px;
      left: 50%;
      margin-left: -3px; }

/* line 36, /Users/dennis/Projects/scss-patterns/source/stylesheets/all.scss */
ul.list {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
  /* line 12, /Users/dennis/Projects/scss-patterns/source/stylesheets/flat-lists.scss */
  ul.list li {
    display: block; }

/* line 40, /Users/dennis/Projects/scss-patterns/source/stylesheets/all.scss */
ul.inline-list {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
  /* line 9, /Users/dennis/Projects/scss-patterns/source/stylesheets/flat-lists.scss */
  ul.inline-list li {
    display: inline-block; }

/* line 45, /Users/dennis/Projects/scss-patterns/source/stylesheets/all.scss */
pre[class*="language-"] {
  border-radius: 2px;
  border: 1px solid #e8e8e8; }

/* line 50, /Users/dennis/Projects/scss-patterns/source/stylesheets/all.scss */
code[class*="language-"], pre[class*="language-"] {
  font-size: 12px; }
