/* line 83, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
.tooltip-pointer-container {
  position: relative;
  position: relative;
  margin: 100px;
  width: 100px;
  height: 100px;
  background: #24a780; }
  /* line 4, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
  .tooltip-pointer-container:before {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border: 3px solid transparent;
    top: initial;
    bottom: initial;
    border-left: 3px solid #24a780;
    right: -6px;
    top: 6px; }
  /* line 93, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
  .tooltip-pointer-container.left {
    position: relative; }
    /* line 4, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
    .tooltip-pointer-container.left:before {
      content: "";
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      border: 3px solid transparent;
      top: initial;
      bottom: initial;
      border-right: 3px solid #24a780;
      left: -6px;
      top: 12px; }
  /* line 94, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
  .tooltip-pointer-container.right {
    position: relative; }
    /* line 4, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
    .tooltip-pointer-container.right:before {
      content: "";
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      border: 3px solid transparent;
      top: initial;
      bottom: initial;
      border-left: 3px solid #24a780;
      right: -6px;
      top: 12px; }
  /* line 95, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
  .tooltip-pointer-container.top {
    position: relative; }
    /* line 4, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
    .tooltip-pointer-container.top:before {
      content: "";
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      border: 3px solid transparent;
      top: initial;
      bottom: initial;
      border-bottom: 3px solid #24a780;
      top: -6px;
      left: 50%;
      margin-left: -3px; }
  /* line 96, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
  .tooltip-pointer-container.bottom {
    position: relative; }
    /* line 4, /Users/dennis/Projects/scss-patterns/source/stylesheets/tooltip-pointer.scss */
    .tooltip-pointer-container.bottom:before {
      content: "";
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      border: 3px solid transparent;
      top: initial;
      bottom: initial;
      border-top: 3px solid #24a780;
      bottom: -6px;
      left: 50%;
      margin-left: -3px; }
